#container{ margin:0 auto;text-align:left; width: 650px; background: url(../images/search_button.jpg) no-repeat 50% 300px, linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet, rgba(255,0,0,0));}
#motoad{ float:right;width:200px;}
#intro{width:450px;}